* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.tg {
  font-size: 16px;
}

.tm {
  font-size: 12px;
}

.ts {
  font-size: 8px;
}



body {
  margin: 0;
}



.titulo {
  /* Posição da div titulo */
  bottom: 200px;
  left: 200px;
  margin: 100px;
/* Estilo da div titulo */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
/*   display: flex;
 */  /* gap: 24px; */


}

button {
  color: white;
  background-color: black;
  font-size: 20px;
  text-align: center;
  text-decoration: solid;
  cursor: pointer;
  padding: 10px;
  border-radius: 2px;
}

button:hover {
  transform: scale(1.1);
  background-color: rgb(5, 42, 42);
  box-shadow: 1px 1px 1px 1px rgb(4, 236, 132);

}

section {
  /* 100% */
  /*  height: 600px; nao é responsiv*/
  height: 95vh;
  background-color: chocolate;
}


.cta1 {
  background: url("cta1.png") no-repeat center/cover;
  margin: 0px 0px 0px 0px;
  background-attachment: fixed;
  display: flex;
  justify-content: left; /* Alinha horizontalmente ao centro */
  align-items: end;  /* Alinha verticalmente ao centro */
}

#cta1 h1 {
  font-size: 100px;
  text-align: left;
  margin: 150px 0px 0px 0px;
  position: absolute;
}

#cta1 p,
button {
  position: absolute fixed;
}

.alinhaCards {
  display: flex;
  flex-flow: row-wrap;
  align-content: space-between;
  justify-content: space-between;
  background-color: rgb(200, 26, 26);
  padding: 50px;
  margin: 10px;
}

.card {
  min-width: 250px;
  max-width: 500px;
  background-color: blueviolet;
  border-radius: 8px;
  padding: 20px;
  margin-right: 2%;
  cursor: pointer;
  box-shadow: 5px 4px 8px white;
}


.alinhaCards {
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.card .price {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;

}

/* Regras para dispositivos móveis */
@media (max-width: 940px) {
  .alinhaCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
}


.card:last-child {
  margin-right: 0;
  /* Remove o espaçamento do último card */
}

.card:hover {
  transform: scale(1.1);
  background-color: rgb(65, 142, 142);
  box-shadow: 2px 2px 10px 5px rgb(174, 18, 153);
}

.card.expanded {
  height: auto;
  transform: scale(1.1);
  padding: 10px;
  margin: auto;
}

.card .price {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.card .titulocard {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card .benefits {
  margin-bottom: 10px;
}