.cabecalho {
    background-color: blue;
    padding: 20px;
    color: rgb(45, 211, 11);
    margin: 10
  }
h2{
    border:2px, solid, black;
    padding: 10px;
    border-color: black;
}
  
  .cabecalho ul li {
    display: inline;
    margin-right: 10px;
  }
  
  .cabecalho ul li a {
    text-decoration: none;
    color: white;
  }
  img{
    box-shadow: 10px 10px 10px 10px #000000;
  }
  summary{
    font-size: 33px;
    font-weight: bold;
  }
    .container {
      height: 300px;
      background-image: url("box-model-css.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

   P{
 
   }