body{
color: white;
margin: 0;
background-color: rgb(0, 0, 0);
font-size: 24px;
font-family: Arial, Helvetica, sans-serif;
}
section{
    padding: 24px;
   /*  background-color: rgb(255, 255, 255); */
    height: 90vh;
}

.turma{
    color: white;
    height: 50vh;
    /* background-color: rgb(107, 3, 3); */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.title-turma{
/* flex: 3; */
/* align-items: center; */
text-align: right;
/* justify-content: center; */
}
/* .img-turma{
    flex: 1;
    height: 100px;
    width: auto;
    align-self: flex-start;
    margin: 10px;
} */
h1{
    font-size: 100px;
    text-align: center;
    text-transform: uppercase;
}

.alunos{
    height: fit-content;
}
.portfolio{
    height: 60vh;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.aluno{
    display: flex;
/*     border: solid;
 */    align-items: center;
    justify-content: space-around;
    
}
.aluno1{
  text-align: center;
}
.title-aluno{
  width: 50vw;
}

h1, h2{
  margin: 0px;   
}

.perfil{
    height: 400px;
    border-radius: 80px;
}

.grupos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
    line-height: 1.5;
}
img{
    width: auto;
    height: 120px;
}
.logo-small{
    height: auto;
    width: 200px;
}
.grupo{
    flex: 0 0 20%; 
    margin: 1%;
}
.todos{
    height: fit-content;
}

@media (max-width: 700px)
{
    *{
        font-size: medium;
    }
    .logo-small{
        height: auto;
        width: 120px;
    }
    img{
        height: auto;
        width: 80px;
    }
}