*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box {
  width: 1; /* largura do conteúdo */
  height: 1; /* altura do conteúdo */
  padding: 1; /* preenchimento */
  margin: 0px; /* margem */
  background-color: aquamarine;
      }
body{
margin: 0;
}
      
p, li, sub{
    font-size: 16px;
}

h2, div {
  font-size: 32px;
}

button{
    color: white;
    background-color: black;
    font-size: 20px;
    text-align: center;
    text-decoration: solid;
    cursor: pointer;
    padding: 10px;
    border-radius: 2px;
}
button:hover {
    transform: scale(1.1);
    background-color: rgb(5, 42, 42);
    box-shadow: 1px 1px 1px 1px rgb(4, 236, 132);
   
  }

section {
    margin: 24px;
    padding: 24px;
    margin-bottom: 20px;
    padding-bottom: 40%;
    background-color: chocolate;
  }

  .cta1 {
    background: url("cta1.png") no-repeat center/cover;
    margin: 0px 0px 0px 0px;
    background-attachment: fixed;
  }
  
  #cta1 h1{
    font-size: 100px;
    text-align: left;
    margin: 150px 0px 0px 0px;
    position: absolute;
  }
  #cta1 p, button{
     position: absolute fixed;
  }

.alinhaCards{
    display: flex;
    flex-flow: row-wrap;
    align-content: space-between;
    justify-content: space-between;
    background-color: rgb(200, 26, 26);
    padding: 50px;
    margin: 10px;
}
.card {
    flex-basis: 100%;
    margin-bottom: 20px;
    border: 1px solid none;
    width: 300px; /* Largura fixa para cada card */
    background-color: blueviolet;
    border-radius: 8px;
    padding: 20px;
    margin-right: 2%; /* Espaçamento entre os cards */
    cursor: pointer;
    box-shadow: 5px 4px 8px white;
    z-index: 1;
    /* Alinha os cards lado a lado */
  }

  /* configuração para responsividade*/
  @media (min-width: 680px)
    .card {
      width: 100%; /* Altera a largura para 100% em telas menores que 768px*/ 
      }
    .alinhaCards{
        display:block;
    }
    .card .price {
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;

  }
  /* Regras para dispositivos móveis */
@media (max-width: 480px) {
  /* Estilos para dispositivos móveis de até 480px */
}

@media (min-width: 481px) and (max-width: 767px) {
  /* Estilos para dispositivos móveis comuns de 481px a 767px */
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para dispositivos móveis de tela grande de 768px a 1023px */
}

/* Regras para tablets */
@media (min-width: 768px) and (max-width: 991px) {
  /* Estilos para tablets pequenos de 768px a 991px */
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* Estilos para tablets médios e grandes de 992px a 1199px */
}

/* Regras para desktops */
@media (min-width: 1200px) and (max-width: 1599px) {
  /* Estilos para monitores de tamanho médio de 1200px a 1599px */
}

@media (min-width: 1600px) and (max-width: 1919px) {
  /* Estilos para monitores grandes de 1600px a 1919px */
}

@media (min-width: 1920px) {
  /* Estilos para monitores muito grandes de 1920px em diante */
}

  .card:last-child {
    margin-right: 0; /* Remove o espaçamento do último card */
  }

  .card:hover {
    transform: scale(1.1);
    background-color: rgb(65, 142, 142);
    box-shadow: 2px 2px 10px 5px rgb(174, 18, 153);
    z-index: 2;
  }

  .card.expanded {
    height: auto;
    transform: scale(1.1);
    padding: 10px;
    margin: auto;
  }

  .card .price {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card .titulocard {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card .benefits {
    margin-bottom: 10px;
  }