/*                   Seção 1   --     principal                            */
body{
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

.main{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(229, 142, 98);
}

.cover-main{/* definição de estilo da imagem de capa */
    /* object-fit: cover; pode ser usada quando a imagem será completa na tela, wallpaper */ 
    position: absolute;
  /*   height: 80vh; pode ser usado para regular o tamanho que a imagem vai ocupar na tela em altura*/
    width: 80%;
    margin-top: -300px; /* faz a imagem subir com relação a imagem */
  /*   position: fixed; posicionamento fixo na tela*/
    top: 0;
    right: 0;
/*     background-attachment: fixed; */
}

.menu{
    display: flex;
    min-width: 100%;
    height: 80px;
    position: relative;
    align-items: center;
}

.logo-menu{
    height: 50px;
}

.link-menu{
    margin: 10px 20px 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.cta-main{
    position: relative;
    margin-bottom: 10%;
    margin-left: 5%;
}
/* responsividade da página */
@media (max-width: 700px) {
    .logo-menu{
        visibility: visible;
    }
    .menu{
        visibility: hidden;
    }
    .cover-main{
        object-fit: cover;
        position: absolute;
        height: 90vh;
        width: 100%;
    }
    .cta-main{
        position: relative;
        margin-bottom: 30%;
        }
}