p{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color:rgb(21, 65, 3);
    font-size: 30px;
}

.bruna{
    font-size: 20px;
    font-style: italic;
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
}


