p {
    box-sizing: content-box;
    /*padding: 200px;
    border: 1px solid #000;
    width: 20px;
    height: 30px;*/
   }

li{
    display: list-item;
}

span{
    display: inline;
    
}
.my-box {
    /*box-sizing: border-box;*/
    width: 200px;
    border: 10px solid;
    padding: 20px;
  }
*,*::before,*::after {
  box-sizing: border-box;
}